{% extends "html/Base_Template.html" %}
{# Content that appears before flash #}
{% block before_flash %}
    <h1 class="h3 mb-3 font-weight-normal">{{page_title}}</h1>
    {{ form.hidden_tag()}}
    {{ form.email(class="form-control", placeholder="Email address", value=request.form.email)}}
    {{ form.password( class="form-control", placeholder="Password", value=request.form.password)}}
    {{ form.submit(class="btn btn-lg btn-primary btn-block", style="font-size: 1rem;")}}
{% endblock before_flash %}

{# Content that appears after alerts #}
{% block after_flash %}
    <div id="otherButtons">
        <a class="btn btn-primary" href="{{url_for('unauthenticated.register_page')}}">Register</a>
        <a class="btn btn-primary" id="passwordReset" >Reset Password?</a>
    </div>
{% endblock after_flash %}

{# Scripts #}
{% block script %}
{% endblock script %}
