{% extends "unauthenticated/email/Base_Template.html" %}
{% block content %}
 <div style="line-height: 24px;">
    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
        Looks like you've forgotten your password! If so, click the link below to create a new password:
        <br>
        <a href="{{RESET_URL}}">{{RESET_URL}}</a>
        <br>
        If you didn't request this, please ignore this email.
        <br>
        Thanks
    </span>
 </div>
{% endblock content %}
