{% extends "unauthenticated/html/Base_Template.html" %}
{# Content that appears before flash #}
{% block before_flash %}
        <h1 class="h3 mb-3 font-weight-normal">Enter New Password</h1>
    {{ form.hidden_tag()}}
            <div class="mb-2">
            {{form.password(class="form-control", placeholder="Password")}}
            </div>
            <div class="mb-2">
            {{form.confirm_password(class="form-control", placeholder="Confirm password")}}
            </div>
        <div class="form-row mb-2" style="justify-content: center">
            <div>
                <meter max="4" id="password-meter" style="width: 12em;"></meter>
                <div id="password-text" style="text-align: center; margin: 3px; font-size:13px;"></div>
            </div>
        </div>
        <div class="form-row"  style="justify-content:center">
        {{ form.submit(class="btn btn-lg btn-primary", style="font-size: 1rem;")}}
        </div>
{% endblock before_flash %}

{# Content that appears after alerts #}
{% block after_flash %}
<div id="otherButtons">
        <div>Already have an account? <a href="{{url_for('unauthenticated.login_page')}}">Sign in!</a></div>
    </div>
{% endblock after_flash %}

{# Scripts #}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <script>
   $(document).ready(function(){

       var strength = {
        0: "Bad",
        1: "Weak",
        2: "Good",
        3: "Strong",
        4: "Strong"
       }

       $('#password').keyup('click', function() {
           result = zxcvbn($('#password').val());
           $('#password-meter').val(result.score);
           $('#password-text').html("<strong>Password Strength: " + strength[result.score] + "</strong>");
       });

});
</script>
{% endblock script %}
