{% extends "unauthenticated/html/Base_Template.html" %}
{# Content that appears before flash #}
{% block before_flash %}
{% endblock before_flash %}

{# Content that appears after alerts #}
{% block after_flash %}
        {{ form.submit(class="btn btn-lg btn-primary btn-block", style="font-size: 1rem;")}}

    <div id="otherButtons">
        <div>Already have an account? <a href="{{url_for('unauthenticated.login_page')}}">Sign in!</a></div>
    </div>
{% endblock after_flash %}

{# Scripts #}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <script>
   $(document).ready(function(){

       var strength = {
        0: "Bad",
        1: "Weak",
        2: "Good",
        3: "Strong",
        4: "Strong"
       }

       $('#password').keyup('click', function() {
           result = zxcvbn($('#password').val());
           $('#password-meter').val(result.score);
           $('#password-text').html("<strong>Password Strength: " + strength[result.score] + "</strong>");
       });

});
</script>
{% endblock script %}
