{% extends "authenticated/html/includes/Base_Template.html" %}

{% block header_content %}
{% endblock header_content %}

{% block page_header %}
    <h1 style="margin-bottom: 0px;" ></h1>
{% endblock page_header %}

{% block page_content %}

    <form id="form" method="POST" autocomplete="off" style="padding: 8px; border-radius: .25rem;   border: 1px solid rgba(0,0,0,0.5); background-color:#f4f4f4;">
        <input name="desc">
        <select name='task[1][skill]' multiple class="form-control"> // addition here
            <option> Category 01 </option>
            <option> Category 02 </option>
        </select>
        <select name='task[1][dev]' multiple class="form-control"> // addition here
            <option> Category 03 </option>
            <option> Category 04 </option>
        </select>
        <select name='task[3][skill]' multiple class="form-control"> // addition here
            <option> Category 05 </option>
            <option> Category 06 </option>
        </select>
        <select name='task[3][dev]' multiple class="form-control"> // addition here
            <option> Category 07 </option>
            <option> Category 08 </option>
        </select>
        <input type="submit">
    </form>
{% endblock page_content %}

{# Scripts #}
{% block script %}
    <script>

    </script>
{% endblock script %}
