{% extends "authenticated/html/includes/Base_Template.html" %}

{% block header_content %}
    <link href="{{ url_for('static', filename='authenticated/CSS/ganttchart.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <script src="https://fullcalendar.io/releases/core/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/interaction/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/timeline/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/resource-common/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/resource-timeline/4.1.0/main.min.js"></script>

    <link rel="stylesheet" href="https://fullcalendar.io/releases/core/4.1.0/main.min.css"/>
    <link rel="stylesheet" href="https://fullcalendar.io/releases/timeline/4.1.0/main.min.css"/>
    <link rel="stylesheet" href="https://fullcalendar.io/releases/resource-timeline/4.1.0/main.min.css"/>
{% endblock header_content %}

{% block page_header %}
    <h1 style="margin-bottom: 0px;">Project Gantt Chart</h1>
{% endblock page_header %}

{% block page_content %}
    <div class="container">
        <div class="my-page">
            <div id="gantt-chart-page">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
    <a class="fa btn back-button" style="display: table;"
       href="{{ url_for('authenticated.view_project_page', wks_id=user_data.wks_key.id(), project_id=project_id) }}">
    <span style="display: table-cell; vertical-align: middle;">
        <i class="fas fa-arrow-left"></i>
    </span>
    </a>
{% endblock page_content %}
{# Scripts #}
{% block script %}
    <script>
        $(document).ready(function () {

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['interaction', 'resourceTimeline'],
                    timeZone: 'UTC',
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'myTimelineDays,myTimelineWeek,myTimelineMonth'
                    },
                    defaultView: 'myTimelineWeek',
                    aspectRatio: 2,
                    views: {
                        myTimelineDays: {
                            type: 'resourceTimeline',
                            defaultDate: '2019-06-01',
                            duration: {year: 1},
                            slotDuration: {day: 1},
                            slotLabelFormat: [{month: 'long'}, {day: "2-digit"}],
                            buttonText: 'By Days'
                        },
                        myTimelineWeek: {
                            type: 'resourceTimeline',
                            duration: {year: 1},
                            slotDuration: {day: 7},
                            slotLabelFormat: [{month: 'short', year: 'numeric'}, {day: '2-digit'}],
                            buttonText: 'By Weeks',
                        },
                        myTimelineMonth: {
                            type: 'resourceTimeline',
                            duration: {year: 1},
                            slotDuration: {month: 1},
                            slotLabelFormat: [{month: 'short'}],
                            buttonText: 'By Months',
                        }
                    },
                    editable: false,
                    firstDay: 1,
                    resourceLabelText: 'Projects',
                    resources:{{ resources|tojson|e }},
                    events: {{ events|tojson|e }}
                });

            calendar.render();

        });


    </script>
{% endblock script %}
