{% extends "authenticated/html/includes/Base_Template.html" %}

{% macro ProduceOrgCard(RequestsObject) -%}
    {% for request in RequestsObject %}
    <div class="col-xl-2 col-sm-6 mb-3">
    <div class="card bg-dark border-dark o-hidden h-100">
      <div class="card-body text-white" style="display:flex; justify-content:center;">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-list"></i>
        </div>
        <span style="margin: auto">{{ request.workspace_name |capitalize}}</span>
      </div>
        <a href="{{ url_for('authenticated.workspace_homepage', wks_id=request.Wks.id()) }}" style="width: 100%;height: 100%;display: inline;top: 0;left: 0;position: absolute;">        </a>
    </div>
  </div>

    {% endfor %}
{%- endmacro %}

{% block header_content %}
{% endblock header_content %}

{% block page_header %}
    <h1 style="margin-bottom: 0px;" >Dashboard</h1>
{% endblock page_header %}

{% block page_content %}
<div class="row">
    {{ ProduceOrgCard(user_data.get_permitted_workspaces())  }}
  <div class="col-xl-2 col-sm-6 mb-3">
    <div class="card bg-dark border-dark o-hidden h-100">
      <div class="card-body text-white" style="display:flex; justify-content:center;">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-plus"></i>
        </div>
        <span style="margin: auto">Create Workspace</span>
      </div>
        <a href="#" data-toggle="modal" data-target="#NewWorkspace" style="width: 100%;height: 100%;display: inline;top: 0;left: 0;position: absolute;">        </a>
    </div>
  </div>
</div>

<!-- Create New -->
<div class="modal" id="NewWorkspace" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Please Enter  Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form style="font-size:15px;" method="POST" >
            <div class="modal-body">
              {{ form.hidden_tag() }}
              {{form.workspace_name(class="form-control", placeholder="Workspace Name")}}
      </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {{ form.submit(class="btn btn-primary")}}
      </div>
        </form>
    </div>
  </div>
</div>
{% endblock page_content %}

{# Scripts #}
{% block script %}
{% endblock script %}
