{% extends "authenticated/html/includes/Base_Template.html" %}

{% block header_content %}
    <link href="{{ url_for('static', filename='authenticated/CSS/new_project_page.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock header_content %}

{% block page_header %}
    <h1 style="margin-bottom: 0px;">{{ wks_data.workspace_name }}</h1>
{% endblock page_header %}

{% block page_content %}
    <div class="container">

        <form method="POST" autocomplete="off" class="my-page">
            {{ form.hidden_tag() }}

            <div class="form-row" style="justify-content:center">
                  <div class="col-8 input-group mb-2">
                       <div class="input-group-prepend">
                    {{ form.project_name.label(class="input-group-text") }}
                </div>
                      {{ form.project_name(class="form-control") }}
                  </div>

                  <div class="col-3 input-group mb-2">
                      <div class="input-group-prepend">
                          {{ form.project_deadline.label(class="input-group-text") }}
                      </div>
                    {{ form.project_deadline(class="datepicker form-control", data_provide="datepicker") }}
                </div>
            </div>


            <div class="form-row"  style="justify-content:center">
                <div class="col-11 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.project_description.label(class="input-group-text") }}
                    </div>
                    {{ form.project_description(class="form-control") }}
                </div>
            </div>

            <!-- Tasks Appear Here -->
            <div id="taskPanel" class="mb-3" style="overflow: auto; max-height: 50vh ">

            </div>


    <div class="form-row" >
        <span class="btn btn-block col-1 disabled"  style="color: #495057; font-size: 1rem;">Total Tasks: <span id="totalTasks">0</span></span>
            <div class="form-row col-10"  style="justify-content:center">
            <!-- Button to create new task -->
                <div class="col-2" style="min-width: 80px;">

            <a href="#" data-toggle="modal" data-target="#NewTask1" data-task-number="1" id="create-task" class="btn btn-lg btn-block"  style="font-size: 1rem;"><i class="fas fa-plus"></i> Task</a>
                    </div>
                <div class="col-2" style="min-width: 80px;">
            {{ form.submit(class="btn btn-lg btn-block create-button", style="font-size: 1rem;") }}
                </div>
            </div>
    </div>


            <div id="modelFrame">
                <div class="modal" id="NewTask1" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalCenterTitle">Please Enter Details</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-row" style="justify-content:center">
                                                        <div class="col-7 mb-3">
                                                          <input placeholder="Task Title" data-task-number="1" name="Task[1][Title]" type="text" class="form-control">
                                                        </div>
                                                        <div class="col-5 mb-3">
                                                          <input placeholder="Allocated Minutes" data-task-number="1" name="Task[1][aMinutes]" type="number" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-row mb-3" style="justify-content:center">
                                                      <textarea placeholder="Task Description" data-task-number="1" name="Task[1][Description]" class="form-control"></textarea>
                                                    </div>

                                                    <div class="form-row mb-3" style="justify-content:center">
                                                        <select data-placeholder="Select Skills(s)" data-task-number="1" name="Task[1][Skills]" class="col-10 chosen-select form-control" multiple>
                                                        <option value="1">Python</option>
                                                        <option value="2">Java</option>
                                                    </select>
                                                    </div>

                                                    <div class="form-row"  style="justify-content:center">
                                                     <select data-task-number="1" data-placeholder="Select Developer(s)" name="Task[1][Developers]" class="col-10 chosen-select form-control" multiple>
                                                        <option value="3">Regson</option>
                                                        <option value="4">Marcel</option>
                                                        <option value="4">Marcel</option>
                                                        <option value="4">Marcel</option>

                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-secondary addTask" data-dismiss="modal" data-task-number="1">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            </div>
        </form>
    </div>
{% endblock page_content %}
{# Scripts #}
{% block script %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">

    <script>
        $(document).ready(function () {
            $('#project_deadline').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '0d',
                todayHighlight:'true',
                todayBtn:'true'
            });

             $(".chosen-select").chosen({width: "80%"});

            function timeConvert(n) {
                var num = n;
                var hours = (num / 60);
                var rhours = Math.floor(hours);
                var minutes = (hours - rhours) * 60;
                var rminutes = Math.round(minutes);
                var numberStr = rminutes.toString();
                if(numberStr.length < 2){
                  numberStr = '0' + numberStr;
                }
                return rhours + ":" + numberStr;
            }

            function escapeHtml(unsafe) {
                return unsafe.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;").replace(/\//g, "&#x2F");
             }

            function produceNewModel(task_number){
                return '                <div class="modal" id="NewTask'+task_number+'" tabindex="-1" role="dialog" aria-hidden="true">\n' +
                    '                    <div class="modal-dialog modal-dialog-centered" role="document">\n' +
                    '                        <div class="modal-content">\n' +
                    '                            <div class="modal-header">\n' +
                    '                                <h5 class="modal-title" id="exampleModalCenterTitle">Please Enter Details</h5>\n' +
                    '                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                    '                                    <span aria-hidden="true">&times;</span>\n' +
                    '                                </button>\n' +
                    '                            </div>\n' +
                    '                            <div class="modal-body">\n' +
                    '                                <div class="form-row" style="justify-content:center">\n' +
                    '                                    <div class="col-7 mb-3">\n' +
                    '                                      <input placeholder="Task Title" data-task-number="'+task_number+'" name="Task['+task_number+'][Title]" type="text" class="form-control">\n' +
                    '                                    </div>\n' +
                    '                                    <div class="col-5 mb-3">\n' +
                    '                                      <input placeholder="Allocated Minutes" data-task-number="'+task_number+'" name="Task['+task_number+'][aMinutes]" type="number" class="form-control">\n' +
                    '                                    </div>\n' +
                    '                                </div>\n' +
                    '\n' +
                    '                                <div class="form-row mb-3" style="justify-content:center">\n' +
                    '                                  <textarea placeholder="Task Description" data-task-number="'+task_number+'" name="Task['+task_number+'][Description]" class="form-control"></textarea>\n' +
                    '                                </div>\n' +
                    '\n' +
                    '                                <div class="form-row mb-3" style="justify-content:center">\n' +
                    '                                    <select data-placeholder="Select Skills(s)" data-task-number="'+task_number+'" name="Task['+task_number+'][Skills]" class="col-10 chosen-select form-control" multiple>\n' +
                    '                                    <option value="1">Python</option>\n' +
                    '                                    <option value="2">Java</option>\n' +
                    '                                </select>\n' +
                    '                                </div>\n' +
                    '\n' +
                    '                                <div class="form-row"  style="justify-content:center">\n' +
                    '                                 <select data-task-number="'+task_number+'" data-placeholder="Select Developer(s)" name="Task['+task_number+'][Developers]" class="col-10 chosen-select form-control" multiple>\n' +
                    '                                    <option value="3">Regson</option>\n' +
                    '                                    <option value="4">Marcel</option>\n' +
                    '                                    <option value="4">Marcel</option>\n' +
                    '                                    <option value="4">Marcel</option>\n' +
                    '\n' +
                    '                                </select>\n' +
                    '                                </div>\n' +
                    '                            </div>\n' +
                    '                            <div class="modal-footer">\n' +
                    '                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>\n' +
                    '                                <button type="button" class="btn btn-secondary addTask" data-dismiss="modal" data-task-number="'+task_number+'">Add</button>\n' +
                    '                            </div>\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '                </div>\n';
            }

            function produceNewTask(task_number){
                    title = $("input[name='Task["+task_number+"][Title]'][data-task-number="+task_number+"]").val();
                    description = $("textarea[name='Task["+task_number+"][Description]'][data-task-number="+task_number+"]").val();
                    minutes =  $("input[name='Task["+task_number+"][aMinutes]'][data-task-number="+task_number+"]").val();

                 return '               <div data-task-frame-number="'+task_number+'" class="col-lg-11 my-3" style="margin: auto;">\n' +
                    '                    <div class="card my-card o-hidden h-100" style="border: 1px solid #ced4da;">\n' +
                    '                        <div class="card-header my-card-header d-flex justify-content-between">\n' +
                    '                            <h6 name="title" data-task-number="'+task_number+'" class="d-flex align-items-start bd-highlight" style="padding: .75rem 1.25rem .0rem 1.25rem;">'+escapeHtml(title)+'</h6>\n' +
                    '                        </div>\n' +
                    '                        <div class="card-body my-card-body">\n' +
                    '                            <span name="description" data-task-number="'+task_number+'" class="card-text" style="flex-grow: 1;">'+escapeHtml(description)+'</span>\n' +
                    '                            <div class="d-flex justify-content-between">\n' +
                    '                            <span class="d-flex align-items-start"><i class="far fa-clock" name="allocatedTime" data-task-number="'+task_number+'" > '+timeConvert(minutes)+'</i></span>\n' +
                    '                            <span class="d-flex align-items-end">test</span>\n' +
                    '                            </div>\n' +
                    '                        </div>\n' +
                    '\n' +
                    '                        <a class="cover-card" href="#" data-toggle="modal" data-target="#NewTask'+task_number+'"></a>\n' +
                    '                    </div>\n' +
                    '                </div>';
            }

            function updateTotal(amount){
                $("#totalTasks").text(parseInt($("#totalTasks").text()) + amount);
            }

            // Delete
            $('#modelFrame').on('click','.deleteTask', function () {
                 task_number = $(this).attr('data-task-number');
                 $('#NewTask'+task_number).remove();
                 $("div").find('[data-task-frame-number='+task_number+']').remove();
                 updateTotal(-1);
            });

            // Update
            $('#modelFrame').on('click','.updateTask', function () {
                 task_number = $(this).attr('data-task-number');
                 title = $("input[name='Task["+task_number+"][Title]'][data-task-number="+task_number+"]").val();
                 description = $("textarea[name='Task["+task_number+"][Description]'][data-task-number="+task_number+"]").val();
                 minutes =  $("input[name='Task["+task_number+"][aMinutes]'][data-task-number="+task_number+"]").val();

                 $("h6[name='title'][data-task-number="+task_number+"]").text(escapeHtml(title));
                 $("span[name='description'][data-task-number="+task_number+"]").text(escapeHtml(description));
                 $("i[name='allocatedTime'][data-task-number="+task_number+"]").text(timeConvert(minutes));
            });

            // Add New Task
            $('#modelFrame').on('click','.addTask', function () {
              current_task_number = parseInt($(this).attr('data-task-number'));
              next_task_number = current_task_number + 1;
              // Modify Current Modal
              $(this).after('<button type="button" class="btn btn-secondary updateTask" data-task-number="'+current_task_number+'" data-dismiss="modal">Update</button>');
              $(this).after('<button type="button" class="btn deleteTask" data-task-number="'+current_task_number+'" data-dismiss="modal"><i class="far fa-trash-alt"></i> Delete</button>');
              $(this).remove();
              // Update Add Button
              $('#create-task').attr('data-target','#NewTask'+next_task_number);
              $('#create-task').attr('data-task-number',next_task_number);
              // Add Visuals
              $('#modelFrame').append(produceNewModel(next_task_number));
              $('#taskPanel').append(produceNewTask(current_task_number));
              // Update MultiSelect
              $(".chosen-select").chosen({width: "80%"});
              updateTotal(1);
            });

        });
    </script>
{% endblock script %}
