{% extends "authenticated/html/includes/Base_Template.html" %}

{% block header_content %}
    <link href="{{ url_for('static', filename='authenticated/CSS/project_chat.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
{% endblock header_content %}

{% block page_header %}
    <h1 style="margin-bottom: 0px;">{{ project_data.project_name }}</h1>
{% endblock page_header %}

{% block page_content %}
    <div class="container">
    <div class="my-page">

        <div class="inbox_msg">
            <div class="mesgs">
                <div id="messageBox" class="msg_history">
                    {#                {% for message in old_messages %}#}
                    {#              {% if message.email == session.get('UserID') %}#}
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            {#                    <span class="time_date"><b>{{message.username}}</b></span>#}
                            {#                   <p>{{message.message | b64 }}</p>#}
                            {#                   <span class="time_date">{{message.message_time.strftime('%H:%M | %d-%m-%Y')}}</span>#}
                        </div>
                    </div>
                    {#              {% else %}#}
                    <div class="incoming_msg">
                        <div class="received_msg">
                            {#                    <span class="time_date"><b>{{message.username}}</b></span>#}
                            <div class="received_withd_msg">
                                {#                      <p>{{message.message  | b64 }}#}
                                {#                      </p>#}
                                {#                      <span class="time_date"> {{message.message_time.strftime('%H:%M | %d-%m-%Y')}}</span>#}
                            </div>
                        </div>
                    </div>
                    {#              {% endif %}#}
                    {#              {% endfor %}#}
                </div>
                <div class="input-group mb-3">
                    <input id="add_text" type="text" class="form-control" placeholder="Type a message.."
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="chat_text" class="btn btn-outline-secondary" type="button"><i
                                class="fa fa-paper-plane fa-sm"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock page_content %}

{# Scripts #}
{% block script %}
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script>
        $(document).ready(function () {
            var username = "{{user_data.get_user_data().first_name}} {{user_data.get_user_data().last_name}}";
            var email = "{{ session.get('Email') }}";
            var role = "{{ user_data.get_role()}}";

            $('#add_text').on('keyup', function (e) {
                if (e.keyCode === 13) {
                    $("#chat_text").trigger("click");
                }
            });

            $('#chat_text').on('click', function () {
                msg = $('#add_text').val();
                $.post("{{url_for('ajax.chat_message',project_id=project_data.key.id())}}",
                    {"email": email, "username": username, "role": role, "message": msg}).done(function (data) {
                    console.log(data);
                    $('#add_text').val("");
                });
            });

            var pusher = new Pusher('08d09cb027a29bc3cb55', {
                cluster: 'eu',
                forceTLS: true
            });

            var channel = pusher.subscribe("{{project_data.key.id()}}-channel");
            channel.bind('new-message', function (data) {
                if (data.email === email) {
                    new_msg = `<div class="outgoing_msg"><div class="sent_msg"><span class="time_date"><b>${(data.username)}</b></span><p>${atob(data.message)}</p><span class="time_date">${data.message_time}</span></div></div>`
                } else {
                    new_msg = `<div class="incoming_msg"><div class="received_msg"><span class="time_date"><b>${(data.username)}</b></span><div class="received_withd_msg"><p>${atob(data.message)}</p><span class="time_date"> ${data.message_time}</span></div></div></div>`
                }
                $('.msg_history').append(new_msg);
            });
        });
    </script>
{% endblock script %}
