{% extends "authenticated/html/includes/Base_Template.html" %}

{% block header_content %}
    <link href="{{ url_for('static', filename='authenticated/CSS/view_project_page.css') }}" rel="stylesheet">
{% endblock header_content %}

{% block page_header %}
    <h1 style="margin-bottom: 0px;">{{ project_data.project_name }}</h1>
{% endblock page_header %}
{% block page_content %}
    {% macro ProduceTaskCards(TasksObject, Status) -%}
        {% for task in TasksObject |sort(attribute='task_name') if task.task_status == Status or Status == "All" %}
            <div class="col-lg-11 my-3" style="margin: auto;">
                <div class="card my-card o-hidden h-100">
                    <div class="main-card">
                        <div class="card-header my-card-header">
                            <h6>{{ task.task_name }}</h6>
                        </div>
                        <div class="card-body my-card-body">
                            <span class="card-text" style="flex-grow: 1;">{{ task.task_description }}</span>
                        </div>
                        <div class="my-card-footer">
                            <i class="fa fa-users">
                            </i>
                            {% for dev in task.task_developers %}
                                    <span class="badge badge-secondary">
                                  {{ task.get_username(dev) | create_initials }}
                                  </span>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="side-card" {% if task.task_logged_minutes > task.task_aminutes %}
                         style="color:red" {% endif %} >
                        <div>Allocated: {{ task.task_aminutes | int_to_minhour }}</div>
                        <div>Logged: {{ task.task_logged_minutes | int_to_minhour }}</div>
                    </div>
                    <a class="cover-card"
                       href="{{ url_for('authenticated.view_task_page',wks_id=wks_data.key.id(),project_id=project_data.key.id(),task_id=task.key.id()) }}"></a>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info col-lg-11">
                There are no tasks in this category.
            </div>
        {% endfor %}
    {%- endmacro %}


    <div class="container">
        <form method="POST" autocomplete="off" class="my-page">
            {{ form.hidden_tag() }}
            <div class="form-row" style="justify-content:center">
                <div class="col-8 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.project_name.label(class="input-group-text") }}
                    </div>
                    {{ form.project_name(class="form-control") }}
                </div>

                <div class="col-3 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.project_deadline.label(class="input-group-text") }}
                    </div>
                    {{ form.project_deadline(class="form-control") }}
                </div>
            </div>

            <div class="form-row" style="justify-content:center">
                <div class="col-11 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.project_description.label(class="input-group-text") }}
                    </div>
                    {{ form.project_description(class="form-control") }}
                </div>
            </div>

            <div class="form-row" style="justify-content:center">
                <div class="col-4 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.project_manager.label(class="input-group-text") }}
                    </div>
                    <select class="custom-select" id="{{ form.project_manager.name }}"
                            name="{{ form.project_manager.name }}" required>
                        {% for option in manager_data %}
                            <option
                                    {% if option[2] == True %}
                                        disabled
                                    {% endif %}
                                    {% if option[0] == form.project_manager.data %}
                                        selected
                                    {% endif %}
                                        value="{{ option[0] }}">{{ option[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.project_status.label(class="input-group-text") }}
                    </div>
                    {{ form.project_status(class="custom-select") }}
                </div>
                <div class="col-4 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.project_stage.label(class="input-group-text") }}
                    </div>
                    {{ form.project_stage(class="form-control") }}
                </div>
            </div>

            {{ form.submit(class="fa btn save-button", value='') }}

            <div class="card text-center remove-border">
                <div class="card-header remove-border">
                    <ul class="nav nav-pills nav-fill" id="Tasks" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#All" role="tab"
                               aria-selected="true">All Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="open-tab" data-toggle="tab" href="#Open" role="tab"
                               aria-selected="false">Open Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="closed-tab" data-toggle="tab" href="#Closed" role="tab"
                               aria-selected="false">Closed Tasks</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="TasksContent">
                    <div class="tab-pane tab-cards fade show active" id="All" role="tabpanel" aria-labelledby="All-tab">
                        {{ ProduceTaskCards(tasks, "All") }}
                    </div>
                    <div class="tab-pane tab-cards fade" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                        {{ ProduceTaskCards(tasks, "Open") }}
                    </div>
                    <div class="tab-pane tab-cards fade" id="Closed" role="tabpanel" aria-labelledby="Closed-tab">
                        {{ ProduceTaskCards(tasks, "Closed") }}
                    </div>
                </div>
            </div>
            <div style="margin: 5px 5px 0px 5px; text-align: right; color:#495057;">
                {{ user_data.get_open_task_number(project_data.key) }}/{{ user_data.get_total_task_number(project_data.key) }}
                Tasks Open
            </div>
            <a class="fa btn chat-button" style="display: table;"
               href="{{ url_for('authenticated.project_chat',wks_id=wks_data.key.id(),project_id=project_data.key.id()) }}">
            <span style="display: table-cell; vertical-align: middle;">
                <i class="fas fa-comments"></i>
            </span>
            </a>

        <a class="fa btn delete-project" style="display: table;"  data-toggle="modal" data-target="#DeleteProject" href="javascript:void(0)">
    <span style="display: table-cell; vertical-align: middle;">
        <i class="fas fa-trash-alt"></i>
    </span>
</a>

        <a class="fa btn add-task" style="display: table;"  data-toggle="modal" data-target="#NewTask" href="javascript:void(0)">
            <span style="display: table-cell; vertical-align: middle;">
                <i class="fas fa-plus"></i>
            </span>
        </a>
        </form>
    <div class="modal" id="DeleteProject" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form style="font-size:15px;" method="POST" >
            <div class="modal-body">
                Are you sure you would like to delete this project? This will also delete all tasks and messages in the chat!
      </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="DeleteConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
      </div>
        </form>
    </div>
  </div>
</div>

        <div id="modelFrame">
                <div class="modal" id="NewTask" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalCenterTitle">Please Enter Details</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-row" style="justify-content:center">
                                                        <div class="col-7 mb-3">
                                                          <input placeholder="Task Title" data-task-number="1" id="Title" type="text" class="form-control">
                                                        </div>
                                                        <div class="col-5 mb-3">
                                                          <input placeholder="Allocated Minutes" data-task-number="1" id="aMinutes" type="number" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-row mb-3" style="justify-content:center">
                                                      <textarea placeholder="Task Description" data-task-number="1" id="Description" class="form-control"></textarea>
                                                    </div>

                                                    <div class="form-row mb-3" style="justify-content:center">
                                                        <select data-placeholder="Select Skills(s)" data-task-number="1" id="Skills" class="col-10 chosen-select form-control" multiple>
                                                        <option value="1">Python</option>
                                                        <option value="2">Java</option>
                                                    </select>
                                                    </div>

                                                    <div class="form-row"  style="justify-content:center">
                                                     <select data-task-number="1" data-placeholder="Select Developer(s)" id="Developers" class="col-10 chosen-select form-control" multiple>
                                                        <option value="5629499534213120">Regson</option>
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-secondary addTask" data-dismiss="modal" data-task-number="1">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            </div>

    </div>
{% endblock page_content %}

{# Scripts #}
{% block script %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">

    <script>
        $(document).ready(function () {
            $('#project_deadline').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '0d',
                todayHighlight: 'true',
                todayBtn: 'true'
            });
            $(".chosen-select").chosen({width: "80%"});
            $(".addTask").on('click', function () {

                $.post("{{url_for('ajax.new_tasks',project_id=user_data.get_project_data().key.id())}}",{
                    "title":  $("#Title").val(),
                    "aMinutes": $("#aMinutes").val(),
                    "description":$("#Description").val(),
                    "skills": $("#Skills").val(),
                    "developers": $("#Developers").val()
                });
                setTimeout(function(){
                      location.reload()
                  }, 1000);
            });

            $("#DeleteConfirm").on('click', function () {
                $.post("{{url_for('ajax.delete_projects',project_id=user_data.get_project_data().key.id())}}");
                setTimeout(function(){
                     window.location.replace("{{ url_for('authenticated.workspace_homepage', wks_id=user_data.get_wks_data().key.id())}}");
                  }, 1000);
            });

        });
    </script>
{% endblock script %}
