{% extends "authenticated/html/includes/Base_Template.html" %}

{% block header_content %}
    <link href="{{ url_for('static', filename='authenticated/CSS/wk_settings.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">{% endblock header_content %}

{% block page_header %}
    <h1 style="margin-bottom: 0px;">Workspace Settings</h1>
{% endblock page_header %}

{% block page_content %}
    <div class="container">
        <form method="POST" class="my-page">
            {{ form.hidden_tag() }}
            <div class="form-row" style="justify-content:center">
                <div class="col-6 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.workspace_name.label(class="input-group-text") }}
                    </div>
                    {{ form.workspace_name(class="form-control") }}
                </div>
            </div>
            <div class="form-row" style="justify-content:center">
                <div class="col-6 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.allow_dev_skills.label(class="input-group-text") }}
                    </div>
                    {{ form.allow_dev_skills(class="form-control") }}
                </div>
            </div>
            <div class="form-row" style="justify-content:center">
                <div class="col-5 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.api_key.label(class="input-group-text") }}
                    </div>
                    {{ form.api_key(class="form-control") }}
                      <div class="input-group-append">
                        <input id="regenerate" class="fa btn btn-outline-secondary" type="button"  value=''>
                      </div>
                </div>
                <div class="col-3 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.enable_api.label(class="input-group-text") }}
                    </div>
                    {{ form.enable_api(class="form-control") }}
                </div>
            </div>
                        <div class="form-row" style="justify-content:center">
                <div class="col-5 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.webhook_url.label(class="input-group-text") }}
                    </div>
                    {{ form.webhook_url(class="form-control") }}
                      <div class="input-group-append">
                        <input id="trigger" class="fa btn btn-outline-secondary" type="button"  value='Test'>
                      </div>
                </div>
                <div class="col-3 input-group mb-2">
                    <div class="input-group-prepend">
                        {{ form.enable_webhook.label(class="input-group-text") }}
                    </div>
                    {{ form.enable_webhook(class="form-control") }}
                </div>
            </div>
            {{ form.submit(class="fa btn save-button", value='') }}
        </form>
    </div>

{% endblock page_content %}

{# Scripts #}
{% block script %}
    <script>
$(document).ready( function () {
    $('#regenerate').on('click',function(){
         $.post("{{url_for('ajax.regenerate_token',wks_id=wks_data.key.id())}}",{"currentAuth": $('#api_key').val()});
         setTimeout(function(){
              location.reload()
          }, 1000);
     });

    $('#trigger').on('click',function(){
         $.post("{{url_for('ajax.trigger_webhook',wks_id=wks_data.key.id())}}",{"testURL":$('#webhook_url').val()});
          alert("Data Payload Sent!");
     });



});
    </script>

{% endblock script %}
