.my-page {
    padding: 8px;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,0.5);
    background-color: #f4f4f4;
}

.new-user-button{
     background-color: #e2f0d9;
     border: 1px solid rgba(0,0,0,.5);;
}