.new-skill-button{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    right: 20px;
    background-color: #4caf50;
    color: rgba(255,255,255,.84);
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    min-width: 56px;
    width: 56px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    display: table;
}

.new-skill-button:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #4caf50;
}

.select2-container .select2-selection--single {
    height: 100%!important;
}

.skills {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.my-table {
    border: 1px solid #ced4da;
    background-color: rgba(0,0,0,.03);
    color: #495057;
    text-align: center;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}