.chat-window {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
    background-color: white;
    border-radius: 0.25em;
}

.messages {
    float: left;
    padding: 30px 15px 0 25px;
    width: 100%;
}

.chat_log {
    height: 516px;
    overflow-y: auto;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 0px 0 0;
}

.sent_message .time_date {
    text-align: right;
}

.role{
      text-transform: capitalize;
}

.sent_message {
    float: right;
    width: 70%;
    margin: 3px 3px;
}
.sent_message p {
    background: #05728f;
    border-radius: 5px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.received_message {
    display: inline-block;
    width: 70%;
    margin: 3px 3px;
}

.received_message p {
    background: #ebebeb;
    border-radius: 5px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}


.badge-admin {
    color: #212529;
    background-color: #ffc107;
}

.badge-manager {
    color: #fff;
    background-color: #28a745;
}

.badge-developer {
    color: #fff;
    background-color: #6c757d;
}

.back-button{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    left: 25px;
    background-color: #212529;
    color: rgba(255,255,255,.84) !important;
    border-radius: 50%;
    font-size: 20px;
    height: 48px;
    min-width: 48px;
    width: 48px;
    cursor: pointer;
}

.back-button:hover {
    background-color: rgba(255,255,255,.84);
    text-decoration: none;
    color: #212529 !important;
}