#skills{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 10px;
}

.table-header-rotated td.row-header{
  width: auto;
      font-size: 14px;
}

.table-header-rotated td.row-header div{
     margin-left: 30px;
    margin-right: 30px;
}

.table-header-rotated td{
  border: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated td:not(.row-header){
  width: 45px;
  height: 45px;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 10px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 14px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -23px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: center;
}

.level-1{
  background-color: #e62525;
}
.level-2{
  background-color: #ff7a39;
}
.level-3{
  background-color: #fe941e;
}
.level-4{
  background-color: #fbfb39;
}
.level-5{
  background-color: #88c82b;
}

