.remove-border{
    border: 0px;
}

#all-tab{
    background-color: #e2f0d9;
}

#open-tab{
    background-color: #fff2cc;
}

#closed-tab{
    background-color: #fbe5d6;
}

#all-tab, #open-tab, #closed-tab{
    margin: 0 0.5rem;
    color: black;
    border: 1px solid rgba(0,0,0,.5);
}

.nav-link.active{
    color: black !important;
    border: 2px solid rgba(52, 58, 64,1) !important;
}

#TasksContent{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.chat-button{
    z-index: 1;
    bottom: 85px;
    position: fixed;
    right: 25px;
    background-color: #3b8eaf;
    color: rgba(255,255,255,.84) !important;
    border-radius: 50%;
    font-size: 20px;
    height: 48px;
    min-width: 48px;
    width: 48px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.chat-button:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #3b8eaf !important;
}
a { color: inherit; }
.save-button{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    right: 20px;
    background-color: #4caf50;
    color: rgba(255,255,255,.84);
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    min-width: 56px;
    width: 56px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.save-button:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #4caf50;
}

.my-card{
    border-radius: 1rem;
    border: 1px solid #ced4da;
    background-color: rgba(0,0,0,.03);
    color: #495057;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    /*position: unset;*/
    /*display: unset;*/
    /*flex-direction: unset;*/
}
.my-card-header {
    border-bottom: 0px;
    background-color: transparent ;
    text-decoration: underline;
    padding: .75rem 1.25rem .0rem 1.25rem;
}

.my-card-body {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 4rem;
}

.my-card-footer{
    text-align: left;
    padding: .75rem 1.25rem .0rem 1.25rem;
}


.cover-card{
    width: 100%;
    height: 100%;
    display: inline;
    top: 0;
    left: 0;
    position: absolute;
}

.main-card{
    flex-grow:2;
    order:1;
    text-align: left;
}

.side-card{
    order: 2;
    flex-grow:1;
    max-width:15%;
    min-width: 125px;
    border-radius: 1rem;
    border: 1px solid #ced4da;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap: wrap;
}

.alert{
    margin: 1rem auto;
}


.add-task{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    right: 85px;
    background-color: #fdcb6e;
    color: rgba(255,255,255,.84) !important;
    border-radius: 50%;
    font-size: 20px;
    height: 48px;
    min-width: 48px;
    width: 48px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.add-task:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #fdcb6e !important;
}

.delete-project{
    z-index: 1;
    bottom: 85px;
    position: fixed;
    right: 85px;
    background-color: #af150d;
    color: rgba(255,255,255,.84) !important;
    border-radius: 50%;
    font-size: 20px;
    height: 48px;
    min-width: 48px;
    width: 48px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.delete-project:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #af150d !important;
}