.chosen-choices{
    display: block;
    width: 100%;
    min-height: calc(2.25rem + 2px) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-choice {
padding: 8px 20px 8px 5px !important;
}

.save-button{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    right: 20px;
    background-color: #4caf50;
    color: rgba(255,255,255,.84);
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.save-button:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #4caf50;
}

#time-log{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.my-table{
    border: 1px solid #ced4da;
    background-color: rgba(0,0,0,.03);
    color: #495057;
    text-align: center;
}

.log-task{
    z-index: 1;
    bottom: 85px;
    position: fixed;
    right: 25px;
    background-color: #3b8eaf;
    color: rgba(255,255,255,.84) !important;
    border-radius: 50%;
    font-size: 20px;
    height: 48px;
    min-width: 48px;
    width: 48px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.log-task:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #3b8eaf !important;
}

.timestamp {
    position: absolute ;
    bottom: 5%;
    right: 0.5%;
}


.delete-task{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    right: 85px;
    background-color: #af150d;
    color: rgba(255,255,255,.84) !important;
    border-radius: 50%;
    font-size: 20px;
    height: 48px;
    min-width: 48px;
    width: 48px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.delete-task:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #af150d !important;
}

.back-button{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    left: 25px;
    background-color: #212529;
    color: rgba(255,255,255,.84) !important;
    border-radius: 50%;
    font-size: 20px;
    height: 48px;
    min-width: 48px;
    width: 48px;
    cursor: pointer;
}

.back-button:hover {
    background-color: rgba(255,255,255,.84);
    text-decoration: none;
    color: #212529 !important;
}

.gantt-chart{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    right: 140px;
    background-color: #9b59b6;
    color: rgba(255,255,255,.84) !important;
    border-radius: 50%;
    font-size: 20px;
    height: 48px;
    min-width: 48px;
    width: 48px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.gantt-chart:hover {
    background-color: rgba(153, 153, 153, .2);
    text-decoration: none;
    color: #9b59b6 !important;
}