.save-button{
    z-index: 1;
    bottom: 20px;
    position: fixed;
    right: 20px;
    background-color: #4caf50;
    color: rgba(255,255,255,.84);
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.save-button:hover{
    background-color: rgba(153,153,153,.2);
    text-decoration: none;
    color: #4caf50;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: #ffffff;
    background-image: none;
    border-color: #6c757d;
}