<html>
   <head>
   </head>
   <body>
      <div align="center">
         <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;">
            <tbody>
               <tr>
                  <td align="center" bgcolor="#eff3f8">
                     <table border="0" cellspacing="0" cellpadding="0" width="100%" style="max-width: 680px; min-width: 300px;">
                        <tbody>
                           <tr>
                              <td>
                                 <div style="height: 80px; line-height: 80px; font-size: 10px;">&nbsp;</div>
                              </td>
                           </tr>
                           <tr>
                              <td align="center" bgcolor="#fbfcfd">
                                 <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                       <tr>
                                          <td align="center">
                                             <div style="height: 60px; line-height: 60px; font-size: 10px;">&nbsp;</div>
                                             <div style="line-height: 44px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                                                {{EMAIL_HEADER}}
                                                </span>
                                             </div>
                                             <div style="height: 40px; line-height: 40px; font-size: 10px;">&nbsp;</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="center">
                                              {% block content %}
                                              {% endblock content %}
                                             <div style="height: 40px; line-height: 40px; font-size: 10px;">&nbsp;</div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <div style="height: 80px; line-height: 80px; font-size: 10px;">&nbsp;</div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>